.home-content {
    background-color: #F5D977;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main_img {
    padding: 10px;
    height: 600px;
    width: 90vw;
    object-fit: fill;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.text {
    width: 1200px;
    font-size: 30px ;
    background-color: white;
}